body {
  min-height: 2000px;
  background-color:pink ;
}

.jumbotron {
  padding-top: 6rem;
  background-color: palevioletred;
}

#project {
  background-color: palevioletred;
}

section {
  padding-top: 5 rem;
}

.btn {
  background-color: palevioletred;
  border: none;
  border-radius: 8px;
  margin-top: 0px;
  padding: 15px 20px 15px 20px;
  width: 190px;
  color: #f7f7f7;
  cursor: pointer;
  font-weight: bold;
}

.btn1 {
  background-color: pink;
  border: none;
  border-radius: 8px;
  margin-top: 0px;
  padding: 15px 20px 15px 20px;
  width: 190px;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: #f7f7f7;
}


.btn:hover {
  background-color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
  color:#f7f7f7;
}

.btn1:hover {
  background-color: rgb(60, 248, 40);
  text-decoration: none;
  cursor: pointer;
  color:#f7f7f7;
}

.judul {
  color:#f7f7f7;
  font-weight: bold;
}

.sub {
  color:palevioletred;
  font-weight: bold;
  text-decoration: none;
}

.lnk {
  color:palevioletred;
  font-weight: bold;
  text-decoration: none;
}

.lnk:hover {
  cursor: pointer;
  color: aqua;
}


